.container {
  text-align: center;
  margin: 0px 110px;
  padding: 159px;
  box-sizing: border-box;
}
.card-body {
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.card {
  background: linear-gradient(#ccd8e5, #98b7e2);
  border: 0;
}
.row {
  font-weight: 500;
}
.form-control {
  background: transparent;
  border: #7babdfa1 solid 2px;
  text-align: center;
}
.btn {
  background: transparent;
  border: #7babdfa1 solid 2px;
  color: #212529b4;
}
.form-control:hover {
  background: rgba(243, 243, 243, 0.582);
}

.col-9 {
  width: 40%;
  margin: 0 0 0 190px;
}

.btn:hover {
  background: rgba(243, 243, 243, 0.582);
  border: #7babdfa1 solid 2px;
  color: #212529b4;
}
img {
  width: 150px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
  padding: 0px 15px;
  font-weight: 500;
}
